main.scores {
  display: flex;                    
  justify-content: center;          
  align-items: flex-start;          
  height: calc(100vh - 60px);      
  margin-top: 60px;                 
  background-color: #5a5d63; 
  box-sizing: border-box;
  padding: 1rem;
}

main.scores table {
  border-collapse: collapse;       
  text-align: center;
  width: auto;                     
  max-width: 80vw;                 
  border-radius: 5px;              
  overflow: hidden;
}

main.scores th {
  padding: 0.5em 1em;
  color: #fff;
  font-size: 1.1em;
  font-family: system-ui, sans-serif;
  border-bottom: 2px solid #111;
}

main.scores th:nth-child(odd) {
  background-color: #555;
}

main.scores th:nth-child(even) {
  background-color: #444; 
}

main.scores td {
  padding: 0.5em 1em;
  font-size: 1.1em;
  font-family: system-ui, sans-serif;
  border-bottom: 1px solid #111; 
  color: #000;
}

main.scores td:nth-child(odd) {
  background-color: #e6e0b8;  
}

main.scores td:nth-child(even) {
  background-color: #dcd4a0; 
}

main.scores td:last-child {
  text-align: center;
}

@media (max-width: 400px) {
  main.scores table {
    width: 95vw;
  }
  main.scores td {
    max-width: 90vw;
  }
}
